In [5]:
import pandas as pd

# Quitando las lineas con demasiadas comas ',' para omitir 2 lineas que nos causan problemas

In [20]:
df = pd.read_csv('./datos/espol-DeliveriesData.csv',error_bad_lines=False,usecols=['Delivery_Id'])


df.head()

b'Skipping line 14685: expected 24 fields, saw 27\n'
b'Skipping line 40355: expected 24 fields, saw 27\nSkipping line 48799: expected 24 fields, saw 27\n'

,Delivery Id,Route Id,Driver Id,Driver Name,Company Id,Company Name,Driver Price,Company Price,Creation Date,Scheduled Pickup,...,Effective Dropoff,Pickup Address,Pickup Lat,Pickup Lng,Dropoff Address,Dropoff Lat,Dropoff Lng,Delivery Type,Status,Total Items
0,t-60noom-1,r-shiinc-258710,150533,Diego Alonso Zuñiga Santibañez,5542,60 No More Escape Room,1906.67,3100.0,2020-05-25 20:05:37,2020-05-26 17:30:00,...,2020-05-26 18:32:00,"Echaurren 301, Santiago, Región Metropolitana,...",-33.452211,-70.666493,"Campo de Deportes 257, Ñuñoa, Región Metropoli...",-33.455882,-70.609377,flex,completed,1
1,t-mimada-441,r-shiinc-258710,150533,Diego Alonso Zuñiga Santibañez,2710,Mi Mercadito Limitada,1906.67,3100.0,2020-05-26 15:32:35,2020-05-26 17:57:06,...,2020-05-26 18:36:36,"Dublé Almeyda 1880, Ñuñoa, Región Metropolitan...",-33.454710,-70.611688,"Dublé Almeyda 1600, Ñuñoa, Región Metropolitan...",-33.454403,-70.614476,flex,completed,1
2,t-mimada-442,r-shiinc-258710,150533,Diego Alonso Zuñiga Santibañez,2710,Mi Mercadito Limitada,1906.67,3100.0,2020-05-26 15:32:35,2020-05-26 17:57:06,...,2020-05-26 18:45:48,"Dublé Almeyda 1880, Ñuñoa, Región Metropolitan...",-33.454710,-70.611688,"Av. Manuel Antonio Matta 040, Ñuñoa, Región Me...",-33.454866,-70.629580,flex,completed,1
3,t-mimada-443,r-shiinc-258710,150533,Diego Alonso Zuñiga Santibañez,2710,Mi Mercadito Limitada,1906.67,3100.0,2020-05-26 15:32:35,2020-05-26 17:57:06,...,2020-05-26 18:51:13,"Dublé Almeyda 1880, Ñuñoa, Región Metropolitan...",-33.454710,-70.611688,"Av. Condell 1777, Ñuñoa, Región Metropolitana,...",-33.451026,-70.624821,flex,completed,1
4,t-mimada-446,r-shiinc-258710,150533,Diego Alonso Zuñiga Santibañez,2710,Mi Mercadito Limitada,2786.67,4200.0,2020-05-26 15:32:35,2020-05-26 17:57:06,...,2020-05-26 19:41:21,"Dublé Almeyda 1880, Ñuñoa, Región Metropolitan...",-33.454710,-70.611688,"Ntra Sra de Guadalupe 9529, La Florida, Región...",-33.540522,-70.567479,flex,completed,1

In [24]:
#verificando el numero de cloumnas
df2.rename(columns={"Delivery Id":'Delivery_Id'}, inplace=True)
df2=df.groupby('Delivery Id')
df2.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'rename'